*, *::after, *::before{
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, sans-serif;
    background-color: gray;
    color: aliceblue;
    /*overflow: hidden;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#container{
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: green;
}

#boardContainer{
    position: relative;
    display: grid;
    place-content: center;
    background-color: aliceblue;
}

.tile{
    position: absolute;
    margin: 0;
    border: 1px solid black;
}

.tile-block{
    position: absolute;
    margin: 0;
    border: 1px solid rgb(71, 8, 8); /*Delete*/
}

.movement{
    background-color: rgb(4, 33, 111);
    border: none;
    border-radius: 10px;
    color: aliceblue;
    padding: 1rem;
    font-size: 1rem;
}

.movement:hover{
    background-color: rgb(18, 64, 189);
    cursor: pointer;
}

.controls{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.green-color{
    background-color: green;
}

.red-color{
    background-color: red;
}

.orange-color{
    background-color: orange;
}